<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="azure.connect.dns.sync" type="AzureConnectDnsSync.Configuration.SyncSection, AzureConnectDnsSync"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${date:yyyy'-'MM'-'dd HH'\:'mm'\:'ss.fffffffK}|${level}|${threadid}|${message}"/>
      <target name="console" type="ColoredConsole" layout="${date:yyyy'-'MM'-'dd HH'\:'mm'\:'ss.fffffffK}|${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console,file"/>
    </rules>
  </nlog>
  <azure.connect.dns.sync Local="Local Area Connection" OnPremiseDnsServer="127.0.0.1"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>